<div class="navbar-header">
    <a class="navbar-brand" href="/">
        Our Games Club
    </a>
</div>

<div class="navbar-collapse collapse">
    @*<form class="navbar-form navbar-left">
        <div class="input-group" ng-controller="Search">
            <span class="input-group-addon"><i class="fa fa-search fa-inverse"></i></span>
            <input id="search-animes" type="search" class="form-control typeahead" placeholder="Search anime...">
        </div>
    </form>*@
    <ul class="nav navbar-nav navbar-right">
        @*<li class="dropdown" ng-if="currentUser" ng-controller="Login">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img class="profile-image img-circle" ng-src="{{currentUser.picture.toLowerCase()}}" />
                <span ng-bind="currentUser.username"></span><i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a ng-href="/user/{{currentUser.username}}">Profile</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </li>*@
        <li class="dropdown" ng-if="!currentUser"><a href="/register">Join us</a></li>
        <li class="dropdown" ng-if="!currentUser"><a href="/login">Login</a></li>
    </ul>
</div>